@{
    ViewBag.Title = "About the Company";
}
<h2>@ViewBag.Title</h2>

<div class="about-image">
    <img src="~/images/gadget-1917227_1280.png" class="img-responsive" />
</div>

<p>This company does not exist. Nothing more to see here.</p>
