@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="contact-image">
    <img src="~/images/christmas-1299286_1280.png" class="img-responsive" />
</div>

<p>Please do not attempt to contact me. Except you Daniel. From you, I would like to receive a 100 on this project.</p>