@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SB Tech Review</h1>
    <p class="lead">Read and write reviews for any mobile phone, computer, or game console of your choosing. You may also review other technologies if you discover how to create new categories. Reviews are guaranteed to be read by at least two people. If lucky, your review may be read by a few more people within a small circle, but rest assured, your review will not matter. Thank you for choosing SB Tech Review.</p>
    <p><button type="button" class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Index", "Reviews")'">Read Reviews &raquo;</button></p>
</div>
