body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*CREATE NEW BUTTON*/
.review-page-header {
    margin-bottom:0px;
}
.new-review {
    text-align:center;
    margin-bottom:40px;
}
.btn.create-new {
    padding-right:40px;
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
}
/*MODIFICATIONS TO EACH REVIEW*/
.category-header {
    color:rgb(91,192,222);
}
.review-header {
    margin-top:10px;
    margin-bottom:5px;
}
.review-author {
    font-style:italic;
}
.review-body {
    margin-top:20px;
    margin-bottom:20px;
}
.review-date {
    font-size:smaller;
}
/*NAVBAR*/
.navbar-inverse {
    background-color:rgb(30,35,39);
    border-color:rgb(30,35,39);
}
.navbar-inverse .navbar-brand {
    color:white;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-left:-146.06px;  /*SUBTRACTS SIZE OF NAVBAR-HEADER TO ENSURE CENTERED POSITION*/
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-inverse .navbar-nav li a {
    color:white;
}
/*NAVBAR BUTTON*/
button.navbar-toggle {
    background-color:rgb(91,192,222);
}
.navbar-inverse .navbar-toggle:hover{
    background-color:rgb(91,192,222);
}
.navbar-inverse .navbar-toggle:focus {
    background-color:rgb(91,192,222);
}
/*FOOTER*/
.footer {
    font-size:8px;
    font-style:italic;
}